body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    margin-right: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 200px;
    border-radius: 8px;
    display: flex;
}

.image-container p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}